<h1>Remove Collaborator</h1>

<% @collaborators.each do |u| %>
  <h5><%= u.email %></h5>
  <%= link_to "Remove", wiki_collaborator_path(@wiki, u), method: :delete, class: "btn btn-danger",  data: { confirm: "Are you sure you want to remove this collaborator?" } %>
<% end %>
