<br>
<div class="jumbotron">
  <% if current_user && current_user.standard? %>
    <h1>Blocipedia</h1>
    <p>With Blocipedia you have access to community based Wikis!</p>
    <p>
      <%= link_to "Upgrade Account", new_charge_path, class: "btn btn-primary" %>
    </p>
  <% elsif current_user && (current_user.premium? || current_user.admin?) %>
      <h1>Blocipedia</h1>
      <p>With Blocipedia you have access to community based Wikis!</p>
      <p>
        <%= link_to "Downgrade Account", downgrade_path, method: :put, class: "btn btn-primary" %>
      </p>
  <% else %>
    <h1>Blocipedia</h1>
    <p>With Blocipedia you have access to community based Wikis!</p>
    <p>
      <%= link_to "Sign In", new_user_session_path %> or
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %> today!
    </p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Guests</h2>
    <p>View public Wikis created by the community!</p>
  </div>
  <div class="col-md-4">
    <h2>Members</h2>
    <p>View as well as create, edit, and delete public Wikis.</p>
  </div>
  <div class="col-md-4">
    <h2>Premium Members</h2>
    <p>Enjoy all the abilities of standard members, with the added feature of creating Private Wikis, which you can add or remove collaborators to!</p>
  </div>
</div>
